.main-header {
    background-image: url("../img/header-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.sidebar {
  background-image: url("../img/sidebar-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header .logo-header a.logo {
    color: #ffffff;
}
